.idea/
venv/

app/__pycache__/__init__.cpython-311.pyc

app/extensions/__pycache__/__init__.cpython-311.pyc

app/extensions/__pycache__/checkbox.cpython-311.pyc

app/extensions/__pycache__/radio.cpython-311.pyc

app/extensions/__pycache__/textbox.cpython-311.pyc
